@charset "UTF-8";
.slider-wrapper {
  display: flex;
  padding: 5px; }
  .slider-wrapper .input {
    width: 100px;
    margin-left: 20px;
    margin-right: 8px; }

.slider {
  position: relative;
  flex: 1;
  height: 20px;
  padding: 5px 0;
  margin-bottom: 14px; }
  .slider-rail {
    height: 10px;
    border-radius: 5px;
    background-color: #eff4f9; }
  .slider-track {
    position: absolute;
    top: 5px;
    height: 10px;
    border-radius: 5px;
    background-color: #55bc8a; }
  .slider-handler {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #55bc8a;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(85, 188, 138, 0.36);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .slider-handler:active {
      box-shadow: none; }
    .slider-handler::after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #55bc8a;
      transition: transform 0.3s ease-in-out; }
    .slider-handler:hover::after, .slider-handler:active::after {
      transform: scale(1.35); }
  .slider-marks {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .slider-marks > span {
      position: absolute;
      top: 0;
      font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #404e68;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      white-space: nowrap;
      transform: translateX(-50%); }
      .slider-marks > span:first-of-type {
        transform: none; }
      .slider-marks > span:last-of-type {
        transform: translateX(-100%); }
