@charset "UTF-8";
.button {
  position: relative;
  height: 32px;
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #36435c; }
  .button-content {
    height: 20px;
    white-space: nowrap; }
  .button:hover, .button:focus {
    box-shadow: none;
    outline: none; }
  .button:disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed; }
  .button + .button {
    margin-left: 12px; }

.is-loading {
  opacity: 0.6;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: not-allowed; }
  .is-loading .button-content {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px; }
  .is-loading .spin {
    vertical-align: middle; }

.button-size-normal {
  padding: 5px 23px; }
  .button-size-normal.has-icon {
    padding: 5px 20px; }

.has-icon .icon {
  height: 16px;
  width: 16px;
  vertical-align: text-bottom; }

.has-icon .button-content {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px; }

.button-default {
  border: 1px solid #ccd3db;
  background-color: #eff4f9;
  box-shadow: none; }
  .button-default:hover {
    background-color: #e3e9ef;
    border-color: #c1c9d1; }
  .button-default:active {
    background-color: #abb4be;
    border-color: #c1c9d1;
    box-shadow: inset 0 4px 8px 0 rgba(36, 46, 66, 0.12); }

.button-primary {
  color: #ffffff;
  border: 1px solid #55bc8a;
  background-color: #55bc8a;
  box-shadow: 0 8px 16px 0 rgba(85, 188, 138, 0.36); }
  .button-primary:active {
    box-shadow: inset 0 4px 8px 0 rgba(35, 45, 65, 0.24); }

.button-control {
  color: #ffffff;
  border: 1px solid #242e42;
  background-color: #242e42;
  box-shadow: 0 8px 16px 0 rgba(35, 45, 65, 0.28); }
  .button-control:active {
    box-shadow: inset 0 4px 8px 0 rgba(36, 46, 66, 0.28); }

.button-danger {
  color: #ffffff;
  border: 1px solid #ca2621;
  background-color: #ca2621;
  box-shadow: 0 8px 16px 0 rgba(202, 38, 33, 0.28); }
  .button-danger:active {
    box-shadow: inset 0 4px 8px 0 rgba(202, 38, 33, 0.28); }

.button-flat {
  border: 1px solid transparent;
  background-color: transparent; }
  .button-flat:hover {
    background-color: #e3e9ef; }
  .button-flat:active {
    background-color: #d8dee5; }

.is-ghost {
  background-color: transparent;
  box-shadow: none !important; }
  .is-ghost:hover {
    background-color: transparent; }
  .is-ghost:active {
    background-color: transparent; }
