@charset "UTF-8";
.select {
  position: relative;
  width: 376px; }
  .select-control {
    position: relative;
    display: table;
    width: 100%;
    height: 32px;
    padding: 0 12px;
    border: 1px solid #abb4be;
    border-radius: 4px;
    background-color: #ffffff;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
    cursor: pointer; }
    .select-control:hover {
      border-color: #79879c; }
    .select-control:focus {
      border-color: #55bc8a;
      box-shadow: 0 4px 8px 0 rgba(85, 188, 138, 0.2); }
  .select.is-open .select-control {
    border-color: #55bc8a;
    box-shadow: 0 4px 8px 0 rgba(85, 188, 138, 0.2); }
  .select-value-wrapper {
    position: relative;
    display: table-cell;
    vertical-align: middle; }
    .select-value-wrapper .select-value,
    .select-value-wrapper .select-placeholder {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: inline-flex;
      align-items: center;
      max-width: 100%;
      font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #36435c;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden; }
    .select-value-wrapper .select-value-opacity {
      opacity: 0; }
  .select-icon {
    position: relative;
    display: table-cell;
    width: 16px;
    height: 100%;
    padding-left: 4px; }
    .select-icon-item {
      align-items: center;
      display: flex;
      height: 100%; }
      .select-icon-item > span {
        align-self: center; }
    .select-icon-check {
      -webkit-text-size-adjust: 100%;
         -moz-text-size-adjust: 100%;
              text-size-adjust: 100%;
      display: flex;
      box-sizing: border-box;
      padding: 4px 12px;
      cursor: pointer;
      justify-content: space-between;
      color: #36435c;
      background-color: #eff4f9; }
    .select-icon-prefixIcon {
      padding-left: 0px;
      padding-right: 6px; }
  .select-input {
    height: 20px;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
    margin-left: 0.5px;
    line-height: 20px; }
    .select-input > input {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      width: 100%;
      background: 0 0;
      cursor: pointer;
      font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #36435c; }
      .select-input > input::-moz-placeholder {
        font-weight: 400;
        color: #5f708a; }
      .select-input > input:-ms-input-placeholder {
        font-weight: 400;
        color: #5f708a; }
      .select-input > input::placeholder {
        font-weight: 400;
        color: #5f708a; }
    .select-input-search {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      white-space: nowrap;
      visibility: hidden; }
  .select-input-opacity {
    opacity: 0; }
  .select-options {
    position: fixed;
    max-height: 232px;
    margin-top: 4px;
    padding: 4px 0;
    border-radius: 4px;
    background-color: #242e42;
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.16);
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1000; }
    .select-options .select-option {
      display: flex;
      padding: 6px 12px;
      font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #ffffff;
      font-family: Roboto, "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
      box-sizing: border-box;
      cursor: pointer; }
      .select-options .select-option-active, .select-options .select-option:hover {
        background: #36435c;
        font-weight: 600; }
      .select-options .select-option-disabled {
        color: #79879c;
        cursor: not-allowed; }
      .select-options .select-option > label.checkbox {
        margin-right: 8px; }
      .select-options .select-option-label {
        flex-grow: 1;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden; }
      .select-options .select-option-icon {
        color: #36435c;
        box-sizing: inherit;
        display: inline-flex;
        align-items: center; }
        .select-options .select-option-icon > .icon {
          align-self: center; }
    .select-options .select-group-option {
      text-align: center; }
      .select-options .select-group-option > .select-group-title {
        margin: 0;
        padding: 0 12px;
        height: 32px;
        line-height: 32px;
        color: #79879c;
        font-size: 12px;
        text-align: left; }
      .select-options .select-group-option::after {
        display: block;
        content: "";
        height: 1px;
        width: auto;
        margin: 0 10px;
        margin-top: -1px;
        background-color: #36435c; }
      .select-options .select-group-option:last-child::after {
        display: none; }
    .select-options-loading {
      padding: 20px 0;
      text-align: center; }
    .select-options-empty {
      padding: 20px 0;
      text-align: center;
      color: #ffffff; }
  .select-multi {
    position: relative;
    box-sizing: border-box; }
    .select-multi .select-control {
      vertical-align: bottom; }
    .select-multi .select-input-multi {
      display: inline-block; }
      .select-multi .select-input-multi > input {
        border: 0px;
        width: 1px;
        display: inline-block; }
    .select-multi .select-value-wrapper {
      padding: 2px 0;
      line-height: 25px; }
    .select-multi .select-multi-value {
      display: table-cell;
      vertical-align: middle; }
      .select-multi .select-multi-value-item {
        height: auto;
        padding: 0;
        margin-right: 10px;
        margin-left: -4px; }
        .select-multi .select-multi-value-item > span {
          display: inline-flex;
          height: 20px;
          padding: 0 4px;
          background: #242e42;
          border-radius: 2px;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          outline: none;
          cursor: pointer; }
        .select-multi .select-multi-value-item-label {
          padding-right: 8px;
          font-weight: normal;
          cursor: default;
          color: #ffffff; }
        .select-multi .select-multi-value-item-icon {
          display: inline-flex;
          align-items: center;
          width: 16px;
          cursor: pointer; }
  .select-disabled .select-control {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #eff4f9; }
  .select-disabled .select-input input {
    cursor: not-allowed; }
  .select-disabled .select-icon {
    cursor: not-allowed; }
